.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .github {
    margin: 1.00em;
}

.App .card{
  border-radius: 0rem;
  margin: 0.10rem;

}

.App .CardImg{
  max-height: 200px;
}

.App Button {

    border-radius: 0;

  }

  .App .footer {
      width: 100%;
      height: 8.00rem;
      position: absolute;
      bottom: -40rem;
      background-color: black;
  }

  .App .footer p {
      color: white;
      font-family: sans-serif;
      margin: 1.00rem;
  }

  .App .card .body .inverse {
       margin: 3.00rem;
  }

.App .StripeCheckout {
   margin: 1.00em;
   border-radius: 0px;
}
